[Unit]
Description=Node.js Application

[Service]
ExecStart=/usr/bin/node {{app_path}}
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory={{app_path}}

[Install]
WantedBy=multi-user.target
